*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container .header
{
    height: 100%;
    width: 100%;
    display: flex;

}
a {
    color: white;
    margin: 10px;
}
a:visited {
    color:black;
}
a:hover {
    color:#B7B7B7;
}

body {
    background-color: white;
    font-family: sans-serif;
}



/* off-screen-menu */
.off-screen-menu {
    background-color:#F5F7F8;
    height: 100vh;
    width: 30%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    transition: .3s ease;
}
.off-screen-menu.active {
    right: 0;
}



/* nav */
nav {
    width: 100%;
    height: 100%;
    border: #13151a;
    padding: 1rem;
    display: flex;
    background-color: rgb(255, 255, 255);
    
    
}
.name
{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: center;
    

}
img
{
    margin: 4px;
}
.content
{
    display: flex;
    flex-direction: row;

}
.content2
{
    display: flex;
    flex-direction: row;

}




/* ham menu */
.ham-menu {
    height: 30px;
    width: 40px;
    margin-left: auto;
    position: relative;
    
}
.ham-menu span {
    height: 5px;
    width: 60%;
    background-color: #13151a;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.section01
{
    height: 100%;
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: row;
}
ul.menu {
    margin-top: 0px;
    width: 30%;
    height: 40px;
    max-width: 250px;
    color: #353b3F;
    position: relative;
    cursor: pointer;
    background-color:#F5F7F8;
    border-radius: 6rem;
    margin: 0px 20px;
   
}


ul.menu li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.menu .submenu {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 0;
    background-color:#B7B7B7;
    border-radius: 1rem;
    padding: 1rem;
    transition: all .3s ease;
    
}
.menu .submenu li {
    color:#13151a;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: background .2s ease;
}

.menu .submenu li:nth-child(1):hover {
    background-color: #F5F7F8;
}
.menu .submenu li:nth-child(2):hover {
    background-color: #F5F7F8;
}
.menu .submenu li:nth-child(3):hover {
    background-color: #F5F7F8;
}
.menu .submenu li:nth-child(4):hover {
    background-color: #F5F7F8;
}
.menu .submenu li:nth-child(5):hover {
    background-color: #F5F7F8;
}

.menu img {
    width: 1.1rem;
    transition: transform .2s ease;
}

.menu:hover img {
    transform: rotate(180deg);
}

.menu:hover .submenu {
    top: 100%;
    opacity: 1;
    pointer-events: all;
   
}
ul.menu2 {
    margin-top: 0px;
    width: 30%;
    height: 40px;
    max-width: 250px;
    color: #353b3F;
    position: relative;
    cursor: pointer;
    background-color: #F5F7F8;
    border-radius: 6rem;
    margin: 0px 10px;
   
}
ul.menu2 p {
 
   margin-inline-start: 40px; 
}

ul.menu2 li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.menu2 .submenu {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 0;
    background-color:#B7B7B7;
    border-radius: 1rem;
    padding: 1rem;
    transition: all .3s ease;
    
    
}
.menu2 .submenu li {
    color:black;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: background .2s ease;
}

.menu2 .submenu li:nth-child(1):hover {
    background-color: #F5F7F8;
}
.menu2 .submenu li:nth-child(2):hover {
    background-color: #F5F7F8;
}


.menu2 img {
    width: 1.1rem;
    transition: transform .2s ease;
}

.menu2:hover img {
    transform: rotate(180deg);
}

.menu2:hover .submenu {
    top: 100%;
    opacity: 1;
    pointer-events: all;
   
}
.search-container {
    display: flex;
    align-items: center;
    background-color: #F5F7F8;
    border: 2px solid #F5F7F8;
    border-radius: 20px;
    padding: 5px 10px;
    height: 43px;
    
}

.search-container input {
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 300px;
    height: 30px;
    border-radius: 15px;
    outline: none;
    
}

.search-container button {
    background-color: #F5F7F8;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 40px;
}

.search-container button:hover {
    background-color: #B7B7B7;
}

.search-container input:focus {
    border-color:#B7B7B7;
}

.butt {
    display: flex;
    gap: 10px; /* المسافة بين الأزرار */
}

.butt button {
    padding: 10px 20px;
    background-color: #F5F7F8;
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    margin: 0px 0px 0px 10px;
    height: 45px;
}
.butt button:hover
{
    background-color: #B7B7B7;
}
.section02
{
    background-image: url('../imag/téléchargement\ \(18\).jpg'); /* رابط الصورة */
    background-size: cover; /* لضمان تغطية الخلفية بالكامل */
    background-position: center; /* لضبط موضع الصورة في الوسط */
    height: 600px; /* ارتفاع الحاوية، يمكنك تعديله حسب رغبتك */
    position: relative; 
    border-radius: 45px;
    margin: 20px;
    display: flex;

}
   .left
   {
    height: 100%;
    width: 50%;
    /*border-right:1px solid black ;*/

    
   }
   h1
   {
    height: 20px;
    margin: 80px;
    font-family:'Times New Roman', Times, serif;
    font-size: 90px;
   }
   .section02 img
   {
    position: relative; /* تحديد الموضع النسبي */
    top: 130px;
    margin:0px 80px;
    width: 50px;
   }
   .section02 .left p
   {
    position: relative; /* تحديد الموضع النسبي */
    top: 82px;
    margin:0px 130px;
    font-size: 25px;
   }
   .right
   {
    /*border-left: 1px solid black;*/
    width: 50%;
    height: 100%;
    
   }
   .right button
   {
    
    position: absolute;
    right:0;
    border-radius: 90px;
    width: 55px;
    margin: 50px;
   }
   .right button:hover
   {
    background-color: #B7B7B7;
   }
   .right p
   {
    position: relative; /* تحديد الموضع النسبي */
    top: 430px;
    margin:0px 10px 0px 400px;
    font-size: 20px;
   }